# Byte-compiled / Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual envs
venv/
env/
.venv/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# ChromeDriver / webdriver manager local files
chromedriver
chromedriver.exe
.wdm/

# Credentials
data.py

# Logs
logs
!logs/.keep
# Sheets outputs

# Ignorar contenido de sheets/input y sheets/output
sheets/input/*
sheets/output/*

# Pero mantener un placeholder vacío si existen
!sheets/input/.keep
!sheets/output/.keep